<footer id="page-footer">
  <p>
    Copyright &copy; 2013
    <%= link_to 'Jonathan Black', 'https://github.com/blackcodemaker/flix' %>
  </p>
  <p>
    For educational purposes only.
  </p>
</footer>